* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html,
  body {
    font-family: 'Mulish', sans-serif;
  }
  
  .centered-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }